* svg{
    width: 30px;
    height: 30px;
    fill: #fff;
}
.btn{
    border: 0px;
    padding: 5px;
    display: inline-block;
    vertical-align: top;
    border-radius: 0px;
}
.btn-toolbar{
    border: 0px;
    background: rgb(10, 88, 190);
    padding: 5px;
    display: inline-block;
    vertical-align: top;
}
.btn-toolbar:hover{
    border: 0px;
    background: rgb(53, 123, 214);
    padding: 5px;
}
.btn-toolbar:disabled{
    background-color: #333;
}
.btn-toolbar svg{
    fill: #fff;
    width: 30px;
    height: 30px;
}

.gm-uc-sidebar{
    position: absolute;
    width: 250px;
    height: calc(100vh - 180px);
    background-color: rgba(0,0,0,0.9);
    color: #fff;
    top: 40px;
    right: -250px;
    padding: 10px;
    transition: all 0.5s; 
}
.gm-uc-sidebar.open{
    right: 0px
}

#leftsidebar{
    position: fixed;
    width: 300px;
    top: 55px;
    height: calc(100vh - 55px);
    background-color: #222;
    display: inline-block;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-color: rgb(10, 88, 190) rgb(36, 36, 36);
    scrollbar-width: thin;
}

.menu-item{
    position: relative;
    display: block;
    width: 100%;
    height: 35px;
    border: 0px;
    padding: 0px;
    color: #aaa;
}

.menu-item:hover, .menu-item.active{
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.menu-item:hover .deco, .menu-item.active .deco{
    background-color: rgb(10, 88, 190);
}

.menu-item .deco{
    position: absolute;
    display: inline-block;
    width: 4px;
    height: 100%;
    left: 0px;
    top: 0px;
    background-color: #333;
    border: 0px;
}
.menu-item .label{
    position: absolute;
    display: inline-block;
    width: calc(100% - 10px);
    height: 100%;
    top: 0px;
    left: 10px;
    vertical-align: top;
    line-height: 35px;
    text-align: left;
    padding-left: 10px;
    color: #aaa;
}
.menu-item .badge{
    position: absolute;
    width: 22px;
    height: 22px;
    border-radius: 13px;
    top: 5px;
    right: 10px;
    background-color: rgb(10, 88, 190);
    color: white;
    text-align: center;
    font-size: 10px;
    line-height: 17px;
}

.navbar{
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 2;
}

#output{
    position: fixed;
    background-color: #fff;
    color: #333;
    left: 300px;
    top: 55px;
    width: calc(100% - 300px);
    height: calc(100vh - 55px);
    /*background-color: rgb(41, 41, 41);*/
    z-index: 0;
}

#output .gm-uc-page-header{
    display: flex;
    height: 40px;
    vertical-align: top;
    background-color: #333;
}

#output .gm-uc-page-header .toolbar-search{
    flex-grow: 1;
    border-radius: 0px;
    height: 40px;
}

#output .gm-uc-page-body{
    background-color: #fff;
    scrollbar-color: rgb(10, 88, 190) rgb(36, 36, 36);
    scrollbar-width: thin;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh - 135px);
}

#output .gm-uc-page-footer{
    position: fixed;
    display: flex;
    height: 40px;
    bottom: 0;
    width: 100%;
    background-color: #222;
}

#pdcbody{
    margin-top: 66px;
    width: 100%;
    height: calc(100vh - 100px);
}